:root {
    font-family: "JetBrains Mono", monospace;
    --c1-orange: #ff5100;
    --c1-cyan: #006eff;
    --bg-main: #222222;
    --bg-main-transp: #272727b6;
    --bg-alt: #414141;
    --bg-alt-transp: #53535393;
    --selectioncolor: #ff3e5e7a;
}

::selection {
    background-color: var(--selectioncolor);
}

.afacad-font {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 24;
    font-style: normal;
}

.dmsans-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 28;
    font-style: normal;
}

.jetbrainsmono-font {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 24;
    font-style: normal;
}

body {
    color: white;
    background-color: var(--bg-main);
    margin-left: auto;
    margin-right: auto;
    font-family: "DM Sans";
}

h3 {
    text-align: center;
    font-style: normal;
    font-family: "JetBrains Mono";
}

div.tempfooter {
    font-size: 24px;
    text-align: center;
    font-family: "DM Sans";
    color:var(--bg-alt-transp);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

div.mainname {
    font-size: 86px;
    font: "Afacad";
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

