/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
** Dev Dark Mode:TM:
*/
body {
  background-color: #171717;
  color: #fff;
}

/* Start Our Code */
:root {
  font-size: 18px;
  font-family: "DM Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 250px;
}

header h1 {
  padding: 10px 0;
  font-family: "JetBrains Mono", "Cascadia Mono", "Ubuntu Mono", Consolas,
    monospace;
  font-size: 24px;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}
main #augh {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
}
main > div {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 10px 0;
  line-height: 20px;
  font-family: "Afacad", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#titleLogo {
  /* display: inline-block; */
  width: fit-content;
  font-size: 5rem;
  /* background-image: linear-gradient(to right, #ff5100, #006eff); */
  background: -webkit-linear-gradient(bottom right, #ff5100, #ff1375, #006eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#linksContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-top: 50px;
}
#linksContainer a {
  color: #ffbb11;
}

#linksContainer a svg,
#linksContainer a img {
  filter: invert(100%) brightness(35%);
  transition: 0.15s ease-in-out filter;
}
#linksContainer a img {
  min-height: 86px;
  max-height: 86px;
}
#linksContainer a svg {
  max-height: 86px;
  min-height: 86px;
}

#linksContainer a:hover svg,
#linksContainer a:hover img {
  filter: invert(100%) brightness(100%);
}

#linksContainer img {
  min-height: 86px;
  max-height: 86px;
}
#linksContainer div {
  display: flex;
  flex-direction: column;
}